<section [hidden]="!todos.length" class="main">
  <app-todo-toggle-all (toggleAll)="onToggleAll($event)"></app-todo-toggle-all>
  <p-blockUI [blocked]="inputBlocked" [target]="list">
    <p-progressSpinner [style]="{width: '55px', height: '55px'}" strokeWidth="4" class="p-grid p-justify-center p-align-center" ></p-progressSpinner>
  </p-blockUI>
  <app-ui-div #list >
    <ul class="todo-list">
      <app-todo-item *ngFor="let todo of todos" [todo]="todo"></app-todo-item>
    </ul>
  </app-ui-div>
</section>